@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat-font";

  font-display: swap;
  src: url("../../fonts/400-Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat-font";

  font-display: swap;
  src: url("../../fonts/700-Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat-font";

  font-display: swap;
  src: url("../../fonts/600-Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat-font";

  font-display: swap;
  src: url("../../fonts/500-Montserrat-Medium.woff2") format("woff2");
}
