.button {
  display: inline-block;
  margin: 0;
  padding: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-montserrat;
  text-align: center;
  color: $color-basic-light;
  text-decoration: none;

  background-color: $color-main-dark;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-main-dark-hover;
    outline: none;
  }

  &:active {
    background-color: $color-main-dark-active;
  }

  &:disabled,
  &--disabled {
    background-color: $color-basic;

    pointer-events: none;
  }
}
