.cards__container {
  margin: 0;
}

.cards__list {
  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0 0 70px;

    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 60px;

    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cards__item {
  display: grid;
  margin-bottom: 20px;
  padding: 40px 20px 20px;

  color: currentColor;
  text-decoration: none;

  background-color: $color-basic-light;
  border-radius: 4px;

  grid-template-columns: 2fr;

  &:hover,
  &:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 50px 30px 30px;
  }

  &:last-child {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.cards__item-container {
  display: grid;

  grid-template-columns: 1fr;
}

.cards__item-image {
  display: block;
  width: 130px;
  height: 188px;
  margin-bottom: 24px;

  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.cards__item-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.cards__item-title-link {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $color-basic-dark;
  text-decoration: none;

  justify-self: start;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }
}

.cards__item-title {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.cards__item-content {
  margin: 0;
  margin-bottom: 16px;
  padding-right: 3px;

  line-height: 20px;
  text-align: left;

  justify-self: start;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.cards__item-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__item-price {
  margin-left: -2px;

  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}
