.main-header {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-header__container {
  padding-right: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    padding: 0 20px;

    grid-template-columns: 1fr auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
