.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-width: 120px;

  @media (min-width: $desktop-width) {
    min-width: 263px;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: 16px;
  }
}

.user-list__login {
  display: block;
  padding: 22px;

  font-weight: 500;
  font-size: 12px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.09em;

  &:active {
    background-color: #ff0000;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;

    &:hover,
    &:focus {
      color: #ff0000;
    }

    &:active {
      color: #ff0000;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.user-list__login-icon {
  @media (min-width: $desktop-width) {
    margin-right: 8px;
  }
}

.user-list__title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
